*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}
.container-1 {
  background-color: black;
  width: 100%;
  height: 1rem;
}
.container-2 {
  background-color: rgb(249, 237, 239);
  width: 100%;
  height: 20rem;;
}
.container-3 {
  background-color: black;
  width: 100%;
  height: 20rem;
}
.photo-1 {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-banner {
  width: 1140px;
  height: 390px;
}
.button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.informations {
  text-align: center;
}
/* min-width & max-width */
@media screen and (min-width: 497px) and (max-width: 768px) {
  
}