*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}
.container-1 {
  background-color: black;
  width: 1920px;
  height: 76px;
}
.container-fluid {
  margin-left: 372px;
}
.container-3 {
  margin-top: 2565px;
  background-color: black;
  width: 1920px;
  height: 285px;
}
.photo-1 {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-banner {
  width: 1140px;
  height: 390px;
}
.button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.informations {
  text-align: center;
}
